[submodule "luajit"]
	path = luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "dpdk"]
	path = dpdk
	url = git://dpdk.org/dpdk
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = git@github.com:intel/intel-ipsec-mb.git
[submodule "libpcap"]
	path = libpcap
	url = git@github.com:the-tcpdump-group/libpcap.git
